body {
  font-family: "Rubik", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}
.top-bg {
  background-image: url(./images/pattern-bg.png);
  background-size: cover;
  width: 100%;
  height: 32%;
}
.map {
  height: 68%;
  z-index: 0;
}
.tracker {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tracker-title {
  color: white;
  font-weight: 500;
  margin: 2rem 0;
}
.tracker-form {
  width: 35%;
  height: 60px;
  display: flex;
}
.tracker-input {
  outline: none;
  border: none;
  padding: 0 0 0 20px;
  height: 100%;
  width: 90%;
  font-family: "Rubik", sans-serif !important;
  font-size: 18px;
  font-weight: 500;
  border-radius: 1rem 0 0 1rem;
}

.tracker-submit {
  cursor: pointer;
  border: none;
  width: 10%;
  height: 100%;
  background-color: black;
  border-radius: 0 1rem 1rem 0;
}
.details {
  margin-top: 30px;
  min-height: 4rem;
  min-width: 60%;
  border-radius: 1rem;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: relative;
}
.details-section {
  width: 20%;
}

.details-title {
  color: hsl(0, 0%, 59%);
  font-weight: 500;
}
.details-section-value {
  color: hsl(0, 0%, 17%);
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}
.map-mockup {
  background-color: hsl(0, 0%, 80%);
  height: 68%;
  z-index: 0;
}
@media (max-width: 1055px) {
  .details {
    width: calc(90% - 80px);
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .details-section {
    width: 100%;
    margin-bottom: 10px;
  }
  .tracker-form {
    width: 90%;
  }
  .details-section-value {
    margin-top: 5px;
  }
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg) translateX(-50%);
  -webkit-transform: rotate(-45deg) translateX(-25%);
}
